body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  margin: 0 auto;
  font-size: 10px;
}

.main-container{
  margin: 0;
}

/******************************************/
/*************** Default Fonts ************/
/******************************************/
h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Arvo';
}
h1 {
  font-size: 10em;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 4.5em;
}

/******************************************/
/*************** Search Form **************/
/******************************************/
.search-form select {
  height: 50px;
}

/******************************************/
/*************** Hero Arrow ***************/
/******************************************/
.hero-container > .arrow:before {
  content: "";
  position: absolute;
  left: -20px;
  width: 69%;
  height: 40px;
  top: -40px;
  background-color: #fff;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  -ms-transform: skew(45deg);
  transform: skew(45deg);
}
.hero-container > .arrow:after {
  content: "";
  position: absolute;
  right: -20px;
  width: 32%;
  height: 40px;
  top: -40px;
  background-color: #fff;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
}
